body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
}

.main-content{
    display: grid;
    justify-content: center;
}

#game{
    font-size: 5rem;
    margin-top: 5rem;
}

table, td {
    border: 2px solid;
    border-collapse: collapse;
}

td{
    size: 0ex;
    width: 5rem;
    height: 5rem;
    text-align: center;
}