<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Schwifty</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<header>
    <button id="change-user">Change User</button>
    <div>
        <form>
            <label for="board-size">Board size:</label>
            <input type="text" id="board-size">
            <input type="submit" id="generate-board" value="Generate">
        </form>
    </div>
    <div id="user-info"></div>
</header>
<body>
    <div class="main-content" id="game">
        
    </div>
</body>
</html>