<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Schwifty</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <div class="main-content">
        <h1>Get Schwifty!</h1>
        <form>
            <label for="username">Username:</label><br>
            <input type="text" id="username"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password"><br>
            <input type="submit" id="login" value="Login">
            <input type="submit" id="signup" value="Signup">
        </form>
    </div>
</body>
</html>